<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}"/>

    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ site.base_url }}/logo.png"/>

    <link rel="stylesheet" href="{{ site.base_url }}/assets/styles.css">

    <link rel="canonical" href="{{ site.base_url }}/{{ page.permalink }}"/>

    <script src="{{ site.base_url }}/assets/next-thursday.js"></script>
</head>
