<!DOCTYPE html>
<html lang="en">
  {% include head.liquid %}
  <body>
    {% include header.liquid %}
    <article class="page-event" role="main">
      <h2>{{ page.title }}</h2>
      <h3>{{ page.description }}</h3>
      {% if page.published_date %}
      <h2>When: {{ page.published_date }} {% if page.data.meetup %}<a href="{{ page.data.meetup }}">RSVP!</a>{% endif %}</h2>
      {% endif %}
      <h2>Agenda:</h2>
      {% for item in page.data.agenda %}
      <p>{{ item.title }} by {{ item.presenter }} {% if item.slides %}<a href="{{item.slides}}">slides</a>{% endif %} {% if item.video %}<a href="{{item.video}}">video</a>{% endif %}</p>
      {% endfor %}

      {{ page.content }}

    {% include footer.liquid %}
  </body>
</html>
